# Terraform files
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
terraform.tfvars.json
*.tfplan
*.tfbackup
.terraform.lock.hcl

# Helm charts
charts/
*.tgz

# Docker files
*.env
*.dockerignore
Dockerfile*
docker-compose*.yml

# OS / Editor / IDE files
.DS_Store
Thumbs.db
*.swp
*.swo
*.log
.idea/
.vscode/
*.iml

# Node / Python (if any scripts)
node_modules/
__pycache__/
*.pyc
